{% extends 'base.html.twig' %}

{% block title %}Share Gaming Reviews{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="h2 display-4 text-light text-center mb-4">Dernières reviews</h2>
        </div>
    </div>
    <div class="row px-3 mb-4 justify-content-center">
    {% for onePost in posts %}
        <div class="card col-5 mb-3 mr-3">
                <div id='get-content' class="card-body">
                    <h5 class="card-title"> {{onePost.title }} </h5>
                    <h6 class="card-subtitle mb-2 text-muted"> {{onePost.title}} </h6>
                    <p class="card-text content">{{onePost.content}}</p>
                    <p class="user_name card-text">@{{onePost.author.nickname}}</p>
                    <a href="#" class="card-link">Voir toutes les reviews de cet utilistateur</a>
                </div>
            </div>
    {% endfor %}
    </div>

</section>
</div>
{% endblock %}
